# Compiled class files
*.class

# Built JAR files
*.jar

# Generated project files
nbproject/private/
build/

# IDE specific files
.idea/
.vscode/

# Logs and temporary files
*.log

# Dependency libraries
dist/lib/

# Eclipse specific files
.classpath
.project

# NetBeans specific files
nb-configuration.xml

# Gradle specific files
.gradle/
build/

